<?xml version="1.0" encoding="utf-8"?>
<!--
    * AndroidManifest.xml    1.82 01/03/2026
    *
    * Copyright (c) 2025-2026 Francis A Burns.
    * 1140 E Marlin Dr. Chandler, Arizona 85286, U.S.A.
    * All rights reserved.
    *
    * This software is the confidential and proprietary information of
    * Francis A Burns. ("Confidential Information").  You shall not
    * disclose such Confidential Information and shall use it only in
    * accordance with the terms of the license agreement you entered into
    * with Francis.
    *
    -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathLesson"
        tools:targetApi="36">
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>